<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">

</style>
</head>
<body>
<p>
Dear Security Team,<br><br>
Saya melakukan penetrations testing terhadap website anda
dan saya telah menemukan bug CSRF(Cross Site Request Forgery) di website anda.<br><br>
bug CSRF(Cross Site Request Forgery) dapat memungkinkan penyerang untuk 
mengirimkan link atau halaman berisi request tersembunyi pada pengguna 
(korban), yang dieksekusi oleh penggunan tersebut ke website target.
</p>
</body>
</html>
