<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">

</style>
</head>
<body>
<p>
Dear Security Team,<br><br>
Saya melakukan penetrations testing terhadap website anda
dan saya telah menemukan bug CSV onjection di website anda.<br><br>
bug CSV Injection dapat memungkinkan penyerang untuk 
menyuntikkan muatan atau formula berbahaya ke dalam kolom input. 
Setelah data diekspor dan file dibuka, aplikasi spreadsheet mengeksekusi 
muatan berbahaya dengan asumsi makro standar.
</p>
</body>
</html>
