<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">

</style>
</head>
<body>
<p>
Dear Security Team,<br><br>
Saya melakukan penetrations testing terhadap website anda
dan saya telah menemukan bug LFI(Local File Inclusion) di website anda.<br><br>
bug lFI(Local File Inclusion) dapat memungkinkan penyerang/attacker untuk 
menyertakan file lokal yang tersimpan di server agar dapat menjadi bagian 
dari proses eksekusi aplikasi.
</p>
</body>
</html>
