<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">

</style>
</head>
<body>
<p>
Dear Security Team,<br><br>
Saya melakukan penetrations testing terhadap website anda
dan saya telah menemukan bug Parameter Tempering di website anda.<br><br>
bug Parameter Tempering dapat memungkinkan penyerang untuk 
manipulasi parameter yang dipertukarkan antara klien dan server untuk memodifikasi 
data aplikasi, seperti kredensial dan izin pengguna, harga 
dan jumlah produk, dll.
</p>
</body>
</html>
