<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">

</style>
</head>
<body>
<p>
Dear Security Team,<br><br>
Saya melakukan penetrations testing terhadap website anda
dan saya telah menemukan bug RCE(Remote Code Execution) di website anda.<br><br>
bug RCE(Remote Code Execuion) dapat memungkinkan penyerang untuk 
mengeksekusi kode berbahaya dan mengambil kendali penuh dari sistem 
yang terkena dampak dengan hak istimewa pengguna menjalankan aplikasi.
</p>
</body>
</html>
